NODE_ENV=development
PORT=3000

CORS_ORIGIN=*
CORS_CREDENTIALS=false

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

JWT_SECRET=
OPENWEATHERMAP_API_KEY=

PYTHON_AI_BASE_URL=http://localhost:5000

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
